body{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #ffc300 solid 1px;
}
header, main, footer{
    width: 70%;
}
header{
    border: #000000 solid 1px;
}
main{
    border: #ff0000 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    border: #7bff00 solid 1px;
    text-align: center;
}
.photo{
    height: 200px;
    width: 50%;
    border: #6d784a solid 1px;
}
.photo>img{
    height: 150px;
    /*width: 50%;*/
    border: #6d784a solid 1px;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    list-style-type: none;
}
li>a{
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.likes{
    border: #d93833 solid 1px;
    height: 50px;
    width: 50%;
}
.add-photo{
    width: 50px;
    height: 50px;
    border: #000000 solid 1px;
    position: sticky;
    align-self: self-end;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #000000;
}